<h1>This is the result <span mutable="result"></span></h1>
<input type="number" mutable="numOne" mutable-type="number" mutable-listen="keyup,change" mutable-dependencies="result" value="12" />
<input type="number" mutable="numTwo" mutable-type="number" mutable-listen="keyup,change" mutable-dependencies="result"  value="21" />

<children></children>

<component template="second-component"></component>

<div mutable-type="html">
    <p>This is the first paragraph. The number one is: <span mutable="numOne" mutable-type="number">12</span></p>
    <p>This is the second paragraph. The number two is: <span mutable="numTwo" mutable-type="number" mutable-dependencies="numThree">21</span></p>
    <p>This is the second paragraph. The number two is: <span mutable="numThree" mutable-type="number">1</span></p>
    <p>The result is: <span mutable="result" mutable-type="number"></span></p>
</div>