@import './variables.scss';
@import './pages';
@import './components';

html,
body {
    font-family: 'KaiseiHarunoUmi';
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $background-color;
    font-size: 13pt;
    color: $text-color;
    outline: none;
}

h1 {
    font-size: 3rem;
    margin: 1rem 0;
}

h2 {
    font-size: 2.1rem;
    margin: 0.6rem 0;
}

input,
select {
    border: none;
    border-radius: $xxs-size;
    font-size: $l-size;
    padding: $xs-size;
    outline: none;
    width: fit-content;
}
