/* Colors */
$primary: hsla(0, 0%, 20%, 1);
$secundary: hsla(204, 100%, 40%, 1);
$tertiary: hsla(156, 70%, 43%, 1);
$text-color: hsla(0, 0%, 95%, 1);
$background-color: hsla(0, 0%, 12%, 1);

/* Sizes */
$xxl-size: 1.6rem;
$xl-size: 1.4rem;
$l-size: 1.2rem;
$m-size: 1rem;
$s-size: 0.8rem;
$xs-size: 0.6rem;
$xxs-size: 0.4rem;
