<component template="components/card">
    <h2 class="title">Exemple 1 - Counter</h2>
    
    <div class="counter-wrap">
        <button
        class="btn"
        mutable="decreaseEX1"
        mutable-type="button"
        >-</button>
        <span
        type="number"
        mutable="counterEX1"
        mutable-type="number"
        class="counter-ex1"
        >0</span>
        <button
            class="btn"
            mutable="increaseEX1"
            mutable-type="button"
        >+</button>
    </div>
</component>