<h2 class="title">Exemple 2 - Sync values</h2>

<input 
    type="number" 
    inputmode="numeric" 
    mutable="firstNumberEX2" 
    mutable-value="" 
    mutable-type="number"
/>
<select 
    value="+" 
    mutable="operationEX2"
>
    <option value="+">+</option>
    <option value="-">-</option>
    <option value="*">*</option>
    <option value="/">/</option>
</select>
<input 
    type="number" 
    inputmode="numeric" 
    mutable="secondNumberEX2" 
    mutable-value="" 
    mutable-type="number"
/>

<p class="result" mutable="resultEX2" mutable-dependencies="calculateEX2"></p>