<h2 class="title">Example 3 - Mutable Object</h2>

<div class="scroll-wrap">
    <div class="scroll-content" mutable="scroller" mutable-listen="click">

    </div>
    <h3 mutable="scrollResult"></h3>
</div>


<!-- <section class="flex-table" mutable="profile" mutable-type="object">
    <div class="row">
        <div class="column">
            <label>Name:</label>
        </div>
        <div class="column">
            <span mutable="profile.name">Felipe Ramos</span>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <label>E-mail:</label>
        </div>
        <div class="column">
            <span mutable="profile.email">felipe@feliperamos.info</span>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <label>User:</label>
        </div>
        <div class="column">
            <span mutable="profile.user">FelipeRamosDev</span>
        </div>
    </div>
</section> -->
